@model MedOrganizerE2.Models.ConsultaMedica

<div class="form-group">
    <label asp-for="Nome" class="control-label"></label>
    <input asp-for="Nome" class="form-control" />
    <span asp-validation-for="Nome" class="text-danger"></span>
</div>
<div class="form-group">
    <label asp-for="DataHora" class="control-label"></label>
    <input asp-for="DataHora" class="form-control" />
    <span asp-validation-for="DataHora" class="text-danger"></span>
</div>
<div class="form-group">
    <label asp-for="Medico" class="control-label"></label>
    @* <input asp-for="Medico" class="form-control" /> *@
    <select asp-for="MedicoId" class="form-control" asp-items="@ViewBag.Medicos"></select>
    <span asp-validation-for="Medico" class="text-danger"></span>
</div>
<div class="form-group">
    <label asp-for="Clinica" class="control-label"></label>
    @* <input asp-for="Clinica" class="form-control" /> *@
    <select asp-for="ClinicaId" class="form-control" asp-items="@ViewBag.Clinicas"></select>
    <span asp-validation-for="Clinica" class="text-danger"></span>
</div>
<div class="form-group">
    <label asp-for="Status" class="control-label"></label>
    <select asp-for="Status" class="form-control" asp-items="Html.GetEnumSelectList<Status>()"></select>
    <span asp-validation-for="Status" class="text-danger"></span>
</div>
<div class="form-group">
    <label asp-for="Anotacoes" class="control-label"></label>
    <input asp-for="Anotacoes" class="form-control" />
    <span asp-validation-for="Anotacoes" class="text-danger"></span>
</div>