<!--begin::Header-->
<div id="kt_app_header" class="app-header  d-flex flex-column flex-stack "
     >
                        <!--begin::Header main-->
<div class="d-flex align-items-center flex-stack flex-grow-1">
<!--layout-partial:layout/partials/header/_logo.html-->
<!--layout-partial:layout/partials/header/_navbar.html-->
</div>
<!--end::Header main-->
<!--begin::Separator-->
<div class="app-header-separator"></div>
<!--end::Separator-->            </div>
<!--end::Header-->